/* Background white */
:root {
    --bg1: #e8eaec;
    --text-color: #979797;
    --color: #000;
    --tcolor: rgb(119 119 119);
  
    --boxShadow: 7px 7px 15px #45566754, -8px -8px 15px rgb(81 101 121 / 4%),
      inset -5px -4px 13px 0px rgb(81 101 121 / 35%),
      inset 6px 7px 12px 0px rgb(255 255 255 / 94%);
  
    --boxShadow2: inset 4px 4px 8px rgb(189 200 213),
      inset -4px -4px 8px rgb(255 255 255);
  
    --boxShadow3: inset 4px 4px 8px rgb(189 200 213),
      inset -4px -4px 8px rgb(255 255 255);
  
    --sbShadow: 5px 5px 7px rgb(0 0 0 /25%),
      inset 2px 2px 5px rgb(255 255 255 / 25%),
      inset -3px -3px 5px rgb(0 0 0 / 12%);
  }

.login-outer{
    height: 100vh;
    width: 100vw;
    display: grid;
  place-items: center;
  text-align: center;
  background: var(--bg1);
}
 
  

  
  .content {
    width: 385px;
    background: var(--bg1);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 60px 40px;
    margin-top: 45px;
  }
  
  .content .text {
    font-size: 33px;
    font-size: 600;
    margin-bottom: 35px;
    color: var(--color);
  }
  
  .content .field {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
  }
  
 

  
  button {
    margin: 25px 0;
    width: 180px;
    height: 40px;
    color: var(--color);
    font-size: 18px;
    font-weight: 600;
    background: var(--bg1);
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: var(--boxShadow);
    border-radius: 25px;
  }
  
  button:focus {
    color: grey;
    box-shadow: var(--boxShadow2);
  }
  
  .login-text {
    font-size: 12px;
    color: rgb(119 119 119);
    margin: 0 0 16px 0;
  }
  

  
