@import url(app2.css);

.topsection {
  padding: 6.5rem 0;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.topsection-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}
.topsection-left {
  position: relative;
}
.topsection-left h1 {
  /* color: blue; */
  font-weight: 400;
  font-size: 40px;
  position: relative;
  margin-bottom: 20px;
}
.topsection-left h1::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  background: #f2c034;
  width: 45%;
  height: 2px;
}

.topsection-left h1 strong {
  font-size: 40px;
  font-size: 50px;
}
.topsection-left p {
  font-weight: 450;
  font-size: 20px;
  /* color: aqua; */

}
.topsection-right {
  display: flex;
  flex-direction: row;
}

.topsection-right-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.2 rem;
  width: 580px;

}
.topsection-image {
  width: 30%;
  position: relative;
  transition: all 0.3s linear;
  height:fit-content;
  /* gap : 5 px; */

}

.topsection-image img{
  border: 3px solid black;
  /* border-color: black; */
  border-width: 2px;
}

.topsection-image:hover {
  transform: translateY(-10px);
}

.topsection-image span {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: 600;
  font-size: 18px;
  z-index: 1;
  text-transform: capitalize;
}

.topsection-image img {
  width: 100%;
}

.topsection-image:nth-child(2) {
  color: #562f95 !important;
}

.topsection-image:nth-child(3) {
  color: #685200 !important;
}

.topsection-image:nth-child(4) {
  color: #08678f !important;
}

topsection-image img {
  width: 100%;
}

@media (min-width: 1201px) {
  .topsection:before {
    position: absolute;
    background-image: url(https://d8it4huxumps7.cloudfront.net/uploads/images/63d4b178b31d5_home_hero_before.svg);
    left: 40px;
    top: 25%;
    content: "";
    width: 40px;
    height: 95px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
  }

  .topsection:after {
    position: absolute;
    background-image: url(https://d8it4huxumps7.cloudfront.net/uploads/images/63de43bdce283_multi_color_dot.png?d=76x188);
    right: 40px;
    bottom: 15%;
    width: 41px;
    height: 102px;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
  }

  .topsection-left:after {
    content: "";
    width: 38px;
    height: 95px;
    position: absolute;
    right: 0;
    top: 40px;
    background-image: url(https://d8it4huxumps7.cloudfront.net/uploads/images/students/dotted-vector.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
  }
}

@media (max-width: 1000px) {
  .topsection-image {
    width: 25%;
  }
}

@media (max-width: 950px) {
  .topsection-container {
    flex-direction: column;
  }

  .topsection-image {
    width: 30%;
  }

  .topsection-left h1:after {
    width: 100%;
  }
}